/** @format */

@use "../../styles/partials/mixins" as *;

.item-container {
  @include flex(row, space-between, flex-start);
  flex-wrap: wrap;
  padding: 1rem;
}

.item {
  @include flex(column, space-between, center);
  padding: 1rem 0;
  width: 49%;
  // height: 50vh;
  &__picture {
    width: 100%;
  }
  &__image {
    width: 100%;
  }
  &__details {
    @include flex(column, space-between, flex-start);
    padding: 0.5rem 0;
    width: 100%;
  }
  &__text {
    @include flex(column, space-between, flex-start);
    width: 100%;
  }
  &__title {
    @include m-sub-title;
  }
  &__description {
    @include m-sub-sub-title;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  &__info {
    @include flex(row, space-between, flex-start);
    padding: 0.5rem 0;
    width: 100%;
  }
  &__sustain {
    @include flex(row, flex-end, center);
    width: 100%;
  }
  &__count {
    width: 20px;
    height: 20px;
  }
}
