/** @format */

@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.shopping-cart {
  @include flex(row, center, center);
  padding: 0.5rem 1rem;
  // width: 60%;
  &__picture {
    @include flex(row, flex-start, center);
    // width: auto;
    width: 60%;
  }
  &__image {
    width: 80%;
  }
  &__information {
    @include flex(column, center, flex-start);
    width: 100%;
    position: relative;
  }
  &__button {
    background-image: url("../../assets/icons/Close.svg");
    background-repeat: no-repeat;
    background-size: contain;
    // border: 1px solid $fnt-clr-title-active;
    width: 10%;
    height: 30%;
    // color: white;
    // justify-content: flex-end;
    align-self: flex-end;
    position: absolute;
    top: -1.875rem;
    font-weight: 700;
  }
  &__title {
    @include m-sub-title-upper;
    text-transform: uppercase;
  }
  &__description {
    @include m-body-medium;
  }
  &__price {
    @include m-body-medium;
  }
}
