/** @format */

@use "./variables" as *;

html,
body
// input
{
  font-family: Tenor, "serif";
  background-color: $ele-clr-darkness-strain;
  color: $fnt-clr-text-default;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  // max-width: 414px;
  // height: 100vh;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
p,
ul,
img,
label,
input {
  margin: 0;
  padding: 0;
}

li,
button {
  cursor: pointer;
}

textarea {
  resize: none;
  // box-sizing: border-box;
  // overflow: auto;
}
