/** @format */

// ******** Colors ********

// Primary Text Colors
$fnt-clr-text-default: #212529; //Default Text color
$fnt-clr-body-default: #727272;
$fnt-clr-title-active: #000000; //Title-Active
$fnt-clr-body: #333333; //Body
$fnt-clr-label: #555555; //Label
$fnt-clr-placeholder: #888888; //Placeholder

// Element Colors
$ele-clr-line: #e0cfba; //line
$ele-clr-input-bg: #f9f9f9; //Input Background
$ele-clr-bg: #f8f0e7; //background
$ele-clr-darkness-strain: #fcfcfc; //Darkness Strain
$ele-footer: #2a2a2a;

// Secondary Colors
$clr-primary-clr: #a8715a; //Primary
$clr-secondary-clr: #dd8560; //Secondary
