/** @format */

@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/breakpoints" as *;

.homepage {
  margin: 0 0.75rem;
  @include tablet {
    margin: 0 4rem;
  }
  @include desktop {
    margin: 0 6rem;
  }
}

.home {
  @include flex(column, center, center);
  padding: 2rem;
  &__title {
    @include m-page-title;
  }
}

.tile {
  @include flex(column, center, center);
  padding: 0.5rem 0.5rem;
  // width: 100%;
  @include tablet {
    padding: 1rem 0;
  }
  &__text {
    text-decoration: none;
    width: 100%;
  }
  &__card {
    @include flex(column, flex-end, center);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top;
    width: 100%;
    // height: 30vh;
    overflow: hidden;
    position: relative;
  }
  &__image {
    width: 100%;
    // height: 100%;
    // display: absolute;
  }
  &__description {
    @include flex(row, center, flex-end);
    @include m-sub-sub-title;
    position: absolute;
    // bottom: 100px;
    // top: 40px;
    text-align: center;
    color: $ele-clr-darkness-strain;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    padding: 0 1.5rem 1rem 1.5rem;
    background: linear-gradient(
      360deg,
      #111111 0%,
      rgba(17, 17, 17, 0.991353) 6.6%,
      rgba(17, 17, 17, 0.96449) 13.19%,
      rgba(17, 17, 17, 0.91834) 19.79%,
      rgba(17, 17, 17, 0.852589) 26.38%,
      rgba(17, 17, 17, 0.768225) 32.98%,
      rgba(17, 17, 17, 0.668116) 39.57%,
      rgba(17, 17, 17, 0.557309) 46.17%,
      rgba(17, 17, 17, 0.442691) 52.77%,
      rgba(17, 17, 17, 0.331884) 59.36%,
      rgba(17, 17, 17, 0.231775) 65.96%,
      rgba(17, 17, 17, 0.147411) 72.55%,
      rgba(17, 17, 17, 0.0816599) 79.15%,
      rgba(17, 17, 17, 0.03551) 85.74%,
      rgba(17, 17, 17, 0.0086472) 92.34%,
      rgba(17, 17, 17, 0) 98.94%
    );
  }
}

.latest-container {
  // width: 580px;
  // height: 280px;
  padding: 3rem 1rem;
  margin: 0 auto;
  @include tablet {
    margin: 0 2rem;
  }
}

.latest {
  padding: 0 0 1rem 0;
  &__title {
    @include m-page-title;
    font-weight: bold;
    padding: 0 0 1rem 0;
  }
  &__description {
    @include m-body-large;
  }
}
.slider-container {
  @include flex(row, center, center);
}

.explore-container {
  padding: 1rem 1rem 3rem 1rem;
  @include tablet {
    margin: 0 4.5rem;
  }
}

.explore {
  &__title {
    @include m-page-title;
    font-weight: bold;
    padding: 0 0 1rem 0;
  }
  &__para {
    @include m-body-large;
  }
}

.newsletter {
  @include flex(column, flex-start, center);
  padding: 1rem;
  @include tablet {
    margin: 0 4.5rem;
  }
  &__title {
    padding: 0 0 1rem 0;
  }
  &__input {
    width: 100%;
    padding: 0.5rem;
    margin: 0.25rem 0;
  }
  &__send {
    @include m-sub-sub-title;
    outline: none;
    border: 1px solid $fnt-clr-text-default;
    font-weight: bold;
    width: 100%;
    margin: 1rem 0 0 0;
    padding: 0.5rem 0;
    background-color: $fnt-clr-text-default;
    color: $ele-clr-input-bg;
    &:hover {
      background-color: $ele-clr-input-bg;
      color: $fnt-clr-text-default;
    }
  }
}
