/** @format */

@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/variables" as *;

.footer {
  @include flex(column, center, center);
  background-color: $ele-footer;
  color: $ele-clr-darkness-strain;
  margin: 3rem 0 0 0;
  left: 0;
  right: 0;
  width: 100%;
  bottom: 0;
  &__social {
    @include flex(row, center, center);
    height: 3rem;
    width: 100%;
  }
  &__icons {
    padding: 0 1rem;
  }
  &__contact {
    @include flex(column, space-between, center);
    @include m-sub-title;
    padding: 4rem 0 2rem 0;
    // position: absolute;
  }
  &__logo {
    margin: 0 1.5rem 0.75rem 1.5rem;
    width: 6.125rem;
    height: 2.5rem;
    &:hover {
      cursor: pointer;
    }
  }
  &__email {
    padding: 0.25rem 0;
  }
  &__phone {
    padding: 0.25rem 0;
  }
  &__times {
    padding: 0.25rem 0;
  }
  &-categories {
    padding: 2rem 0;
  }
  &__heading {
    padding: 0 1.5rem 0.75rem 1.5rem;
  }
  &__links {
    padding: 2rem 0;
  }
  &__ul {
    @include flex(column, space-between, center);
    // padding: 0 0 2rem 0;
  }
  &__li {
    @include m-sub-title;
    color: $ele-clr-darkness-strain;
    list-style: none;
    padding: 0.25rem 1.5rem;
  }
  &__li-link {
    // outline: none;
    text-decoration: none;
    color: $fnt-clr-body;
  }
  &__copyright {
    text-align: center;
    padding: 1rem;
    width: 100%;
    // position: absolute;
  }
}
