/** @format */

@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/variables" as *;

.mens__title {
  @include m-sub-title-upper;
  text-transform: uppercase;
  padding: 1rem 0 1rem 0;
  text-align: center;
}

.loading {
  text-align: center;
}
