/** @format */

@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/breakpoints" as *;

.product {
  @include flex(column, center, flex-start);
  width: 100%;
  padding: 1rem 0 1rem 0;
  @include desktop {
    @include flex(row, center, center);
    padding: 1rem 2rem;
    width: 100%;
  }
  &__img {
    width: 80%;
    height: 100%;
    margin: 3.5rem auto 2rem auto;
    @include tablet {
      width: 60%;
    }
    @include desktop {
      width: 50%;
    }
  }
  &__details {
    width: 100%;
    @include desktop {
      width: 80%;
      padding: 0 0 0 3rem;
    }
  }
  &__heading {
    @include flex(row, space-between, center);
    padding: 0.5rem 1rem 0 1rem;
    width: 100%;
    @include tablet {
      padding: 0.5rem 2rem 0 2rem;
    }
    @include desktop {
      padding: 0.5rem 0 0 0;
    }
  }
  &__title {
    @include m-page-title-upper;
    font-weight: bold;
    width: 100%;
    @include desktop {
      font-size: 2.5rem;
    }
  }
  &__description {
    @include m-body-large;
    padding: 0.5rem 1rem 0 1rem;
    font-style: italic;
    @include tablet {
      padding: 0.5rem 2rem 0 2rem;
    }
    @include desktop {
      padding: 0.5rem 0 2.5rem 0;
      font-size: 1.25rem;
      font-weight: 600;
    }
  }
  &__text {
    @include m-body-large;
    padding: 0.5rem 1rem 0 1rem;
    @include tablet {
      padding: 0.5rem 2rem 0 2rem;
    }
    @include desktop {
      padding: 0.5rem 0 2.5rem 0;
      font-size: 1.25rem;
    }
  }
  &__info {
    @include flex(row, flex-end, center);
    width: 100%;
    @include desktop {
      padding: 0.5rem 0 2.5rem 0;
    }
  }
  &__price {
    padding: 0.5rem 1rem 0 1rem;
    @include tablet {
      padding: 0.5rem 2rem 0 2rem;
    }
    @include desktop {
      padding: 0.5rem 0 0 0;
      font-size: 1.25rem;
      font-weight: 600;
    }
  }
  &__sustain {
    @include flex(row, flex-end, center);
    padding: 0.5rem 1rem 0 1rem;
    width: 100%;
    @include tablet {
      padding: 0.5rem 2rem 0 2rem;
    }
    @include desktop {
      padding: 0.5rem 0 0 0;
    }
  }
  &__count {
    width: 20px;
    height: 20px;
  }
}
.details {
  @include flex(column, center, center);
  width: 100%;
  &__details {
    @include flex(column, center, flex-start);
    width: 100%;
  }
}

.button {
  @include flex(row, space-between, center);
  width: 100%;
  margin: 1rem 0 0 0;
  padding: 1rem;
  background-color: $fnt-clr-text-default;
  outline: none;
  border: none;
  @include tablet {
    padding: 1rem 2rem;
  }
  @include desktop {
    width: 100%;
    padding: 1rem 2rem;
  }
  &__add {
    @include flex(row, center, center);
  }
  &__text {
    @include m-sub-sub-title-upper;
    color: $ele-clr-darkness-strain;
    padding: 0 0 0 0.5rem;
    text-transform: uppercase;
  }
}

.materials {
  &__materials {
    padding: 1rem 1rem 0 1rem;
    @include tablet {
      padding: 1rem 2rem 0 2rem;
    }
  }
  &__care {
    padding: 1rem 1rem;
    @include tablet {
      padding: 1rem 2rem 0 2rem;
    }
  }
  &__title {
    @include m-page-title-upper;
    font-weight: bold;
    @include desktop {
      font-size: 1.25rem;
    }
  }
  &__text {
    @include m-body-large;
    padding: 0.5rem 0;
    @include desktop {
      font-size: 1.125rem;
    }
  }
  &__bleach {
    @include flex(row, flex-start, center);
    padding: 1rem 0 0.75rem 0;
    & p {
      @include m-body-large;
      padding: 0 0 0 1rem;
      @include desktop {
        font-size: 1.125rem;
      }
    }
  }
  &__tumble {
    @include flex(row, flex-start, center);
    padding: 0 0 0.75rem 0;
    & p {
      @include m-body-large;
      padding: 0 0 0 1rem;
      @include desktop {
        font-size: 1.125rem;
      }
    }
  }
  &__washing {
    @include flex(row, flex-start, center);
    padding: 0 0 0.75rem 0;
    & p {
      @include m-body-large;
      padding: 0 0 0 1rem;
      @include desktop {
        font-size: 1.125rem;
      }
    }
  }
  &__iron {
    @include flex(row, flex-start, center);
    padding: 0 0 0.75rem 0;
    & p {
      @include m-body-large;
      padding: 0 0 0 1rem;
      @include desktop {
        font-size: 1.125rem;
      }
    }
  }
}

.product__tile-container {
  @include flex(column, center, center);
  width: 100%;
  @include desktop {
    // @include flex(row, center, center);
  }
}

.comments {
  @include flex(column, center, center);
  width: 100%;
  border-top: 1px solid $ele-footer;
  border-bottom: 1px solid $ele-footer;
  &__tile {
    @include flex(row, space-between, center);
    width: 100%;
    padding: 1rem 0;
  }
  &__title {
    @include m-page-title-upper;
    font-weight: bold;
    align-items: left;
    @include desktop {
      font-size: 1.25rem;
    }
  }
  &__icon {
    @include m-page-title-upper;
    font-weight: 900;
    rotate: 180deg;
    &--active {
      rotate: 0deg;
    }
  }
  &__list {
    display: none;
    &--active {
      @include flex(column, center, center);
      width: 100%;
    }
  }
  &__input {
    width: 100%;
  }
  &__name-title {
    @include m-sub-title-upper;
    font-weight: 700;
    padding: 0.5rem 0 0.5rem 0;
  }
  &__name-input {
    @include m-sub-sub-title;
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: 1px solid $fnt-clr-body-default;
    &::placeholder {
      @include m-sub-sub-title;
    }
    &--error {
      border: 1px solid red;
    }
  }
  &__comment {
    @include m-sub-sub-title;
  }
  &__comment-title {
    @include m-sub-title-upper;
    font-weight: 700;
    padding: 0.5rem 0 0.5rem 0;
    &::placeholder {
      @include m-sub-sub-title;
    }
  }
  &__comment-input {
    @include m-sub-sub-title;
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: 1px solid $fnt-clr-body-default;
    &::placeholder {
      @include m-sub-sub-title;
    }
    &--error {
      border: 1px solid red;
    }
  }
  &__submit {
    @include m-sub-sub-title;
    margin: 0.5rem 0 1.25rem 0;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    background-color: $fnt-clr-text-default;
    color: $ele-clr-darkness-strain;
    outline: none;
    border: none;
    width: 100%;
    @include tablet {
      width: 30%;
    }
  }
}

.submit-container {
  @include flex(row, flex-end, flex-end);
  width: 100%;
}

.comments-container,
.faq-container,
.delivery-container {
  @include flex(column, center, center);
  width: 100%;
  padding: 0.75rem 1rem 1.25rem 1rem;
  @include tablet {
    padding: 1rem 2rem;
  }
}

.faq {
  @include flex(column, center, center);
  width: 100%;
  border-top: 1px solid $ele-footer;
  border-bottom: 1px solid $ele-footer;
  &__tile {
    @include flex(row, center, center);
    width: 100%;
    padding: 1rem 0 1rem 0;
  }
  &__title {
    @include m-page-title-upper;
    font-weight: bold;
    align-items: left;
    width: 100%;
    @include desktop {
      font-size: 1.25rem;
    }
  }
  &__icon {
    @include m-page-title-upper;
    font-weight: 900;
    rotate: 180deg;
    &--active {
      rotate: 0deg;
    }
  }
  &__details {
    @include flex(column, center, left);
    display: none;
  }
  &__details--active {
    display: flex;
  }
  &__questions {
    @include m-page-title;
    font-weight: 900;
    padding: 1rem 0 0 0;
    &:nth-child(1) {
      padding: 0;
    }
  }
  &__answers {
    @include m-body-large;
    padding: 0.25rem 0 0 0;
    &:nth-last-child(1) {
      padding: 0 0 1rem 0;
    }
  }
}

.delivery {
  @include flex(column, center, center);
  width: 100%;
  border-top: 1px solid $ele-footer;
  border-bottom: 1px solid $ele-footer;
  &__tile {
    @include flex(row, center, center);
    width: 100%;
    padding: 1rem 0 1rem 0;
  }
  &__title {
    @include m-page-title-upper;
    font-weight: bold;
    align-items: left;
    width: 100%;
    @include desktop {
      font-size: 1.25rem;
    }
  }
  &__icon {
    @include m-page-title-upper;
    font-weight: 900;
    rotate: 180deg;
    &--active {
      rotate: 0deg;
    }
  }
  &__details {
    @include flex(column, center, left);
    display: none;
  }
  &__details--active {
    @include flex(column, center, space-between);
    width: 100%;
  }
  &__questions {
    @include m-page-title;
    font-weight: 900;
    color: $fnt-clr-text-default;
    padding: 1rem 0 0 0;
  }
  &__subheading {
    padding: 0.5rem 0 0 0;
  }
  &__answers {
    @include m-body-large;
    padding: 0 0 0.5rem 0;
  }
  &__standard {
    @include flex(row, space-between, center);
  }
  &__times {
    @include m-sub-sub-title;
  }
  &__cost {
    @include m-sub-sub-title;
  }
}
