/** @format */ /** @format */
@font-face {
  font-family: "Tenor";
  src: url("../../assets/font/tenor-sans/TenorSans-Regular.ttf");
  font-weight: 400;
  font-style: none;
}
/** @format */
html,
body {
  font-family: Tenor, "serif";
  background-color: #fcfcfc;
  color: #212529;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 1280px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
p,
ul,
img,
label,
input,
button {
  margin: 0;
  padding: 0;
}

li,
button {
  cursor: pointer;
}

textarea {
  resize: none;
}

/** @format */
.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.details__img {
  width: 100%;
  height: 100%;
  padding: 1rem;
}
.details__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 1rem 0 1rem 0;
}
.details__heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem 0 1rem;
  width: 100%;
}
.details__title {
  font-family: Tenor, "serif";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 4px;
  width: 100%;
}
.details__description {
  font-family: Tenor, "serif";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #727272;
  padding: 0.5rem 1rem 0 1rem;
}
.details__info {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.details__price {
  padding: 0.5rem 1rem 0 1rem;
}
.details__sustain {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem 1rem 0 1rem;
  width: 100%;
}
.details__count {
  width: 20px;
  height: 20px;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
  background-color: #212529;
  outline: none;
  border: none;
}
.button__add {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.button__text {
  font-family: Tenor, "serif";
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #fcfcfc;
  padding: 0 0 0 0.5rem;
  text-transform: uppercase;
}
.materials__materials {
  padding: 1rem 1rem 0 1rem;
}
.materials__care {
  padding: 1rem 1rem;
}
.materials__title {
  font-family: Tenor, "serif";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 4px;
  font-weight: 700;
}
.materials__text {
  font-family: Tenor, "serif";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #727272;
  padding: 0.5rem 0;
}
.materials__bleach {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 0 0.75rem 0;
}
.materials__bleach p {
  font-family: Tenor, "serif";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #727272;
  padding: 0 0 0 1rem;
}
.materials__tumble {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0.75rem 0;
}
.materials__tumble p {
  font-family: Tenor, "serif";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #727272;
  padding: 0 0 0 1rem;
}
.materials__washing {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0.75rem 0;
}
.materials__washing p {
  font-family: Tenor, "serif";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #727272;
  padding: 0 0 0 1rem;
}
.materials__iron {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0.75rem 0;
}
.materials__iron p {
  font-family: Tenor, "serif";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #727272;
  padding: 0 0 0 1rem;
}

.comments {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
  padding: 0 0 2rem 0;
}
.comments__heading {
  font-family: Tenor, "serif";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 4px;
  font-weight: 700;
  align-items: left;
  padding: 0.5rem 1rem 1rem 1rem;
}
.comments__input {
  padding: 0 1rem;
  width: 100%;
}
.comments__name-title {
  font-family: Tenor, "serif";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 2px;
  font-weight: 700;
  padding: 0 0 0.5rem 0;
}
.comments__name-input {
  font-family: Tenor, "serif";
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 1px solid #727272;
}
.comments__name-input::-moz-placeholder {
  font-family: Tenor, "serif";
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.comments__name-input:-ms-input-placeholder {
  font-family: Tenor, "serif";
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.comments__name-input::placeholder {
  font-family: Tenor, "serif";
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.comments__name-input--error {
  border: 1px solid red;
}
.comments__comment {
  font-family: Tenor, "serif";
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  padding: 1rem 0 0 0;
}
.comments__comment-title {
  font-family: Tenor, "serif";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 2px;
  font-weight: 700;
  padding: 0 0 0.5rem 0;
}
.comments__comment-title::-moz-placeholder {
  font-family: Tenor, "serif";
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.comments__comment-title:-ms-input-placeholder {
  font-family: Tenor, "serif";
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.comments__comment-title::placeholder {
  font-family: Tenor, "serif";
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.comments__comment-input {
  font-family: Tenor, "serif";
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 1px solid #727272;
}
.comments__comment-input::-moz-placeholder {
  font-family: Tenor, "serif";
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.comments__comment-input:-ms-input-placeholder {
  font-family: Tenor, "serif";
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.comments__comment-input::placeholder {
  font-family: Tenor, "serif";
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.comments__comment-input--error {
  border: 1px solid red;
}
.comments__submit {
  font-family: Tenor, "serif";
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 0.5rem 1rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background-color: #212529;
  color: #fcfcfc;
  outline: none;
  border: none;
}/*# sourceMappingURL=ProductDetails.css.map */