/** @format */

@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/variables" as *;

.details {
  @include flex(column, center, center);
  width: 100%;
  &__img {
    width: 100%;
    height: 100%;
    padding: 1rem;
  }
  &__details {
    @include flex(column, center, flex-start);
    width: 100%;
    // height: 100%;
    padding: 1rem 0 1rem 0;
  }
  &__heading {
    @include flex(row, space-between, center);
    padding: 0.5rem 1rem 0 1rem;
    width: 100%;
  }
  &__title {
    @include m-page-title-upper;
    width: 100%;
  }
  &__icon {
  }
  &__description {
    @include m-body-large;
    padding: 0.5rem 1rem 0 1rem;
    // padding: 0.5rem 0;
  }
  &__price {
    // color: $clr-secondary-clr;
    padding: 0.5rem 1rem 0 1rem;
  }
}

.button {
  @include flex(row, space-between, center);
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
  background-color: $fnt-clr-text-default;
  outline: none;
  border: none;
  &__add {
    @include flex(row, center, center);
  }
  &__plus {
  }
  &__text {
    @include m-sub-sub-title-upper;
    color: $ele-clr-darkness-strain;
    padding: 0 0 0 0.5rem;
    text-transform: uppercase;
  }
  &__icon {
  }
  &__heart {
  }
}

.materials {
  &__materials {
    padding: 1rem 1rem 0 1rem;
  }
  &__care {
    padding: 1rem 1rem;
  }
  &__title {
    @include m-page-title-upper;
    font-weight: 700;
  }
  &__text {
    @include m-body-large;
    padding: 0.5rem 0;
  }
  &__bleach {
    @include flex(row, flex-start, center);
    padding: 1rem 0 0.75rem 0;
    & p {
      @include m-body-large;
      padding: 0 0 0 1rem;
    }
  }
  &__tumble {
    @include flex(row, flex-start, center);
    padding: 0 0 0.75rem 0;
    & p {
      @include m-body-large;
      padding: 0 0 0 1rem;
    }
  }
  &__washing {
    @include flex(row, flex-start, center);
    padding: 0 0 0.75rem 0;
    & p {
      @include m-body-large;
      padding: 0 0 0 1rem;
    }
  }
  &__iron {
    @include flex(row, flex-start, center);
    padding: 0 0 0.75rem 0;
    & p {
      @include m-body-large;
      padding: 0 0 0 1rem;
    }
  }
}

.comments {
  @include flex(column, left, flex-end);
  width: 100%;
  &__input {
    padding: 0 1rem;
    width: 100%;
  }
  &__name {
  }
  &__name-title {
    @include m-sub-title-upper;
    font-weight: 700;
    padding: 0 0 0.5rem 0;
  }
  &__name-input {
    @include m-sub-sub-title;
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: 1px solid $fnt-clr-body-default;
    &::placeholder {
      @include m-sub-sub-title;
    }
  }
  &__comment {
    @include m-sub-sub-title;
    padding: 1rem 0 0 0;
  }
  &__comment-title {
    @include m-sub-title-upper;
    font-weight: 700;
    padding: 0 0 0.5rem 0;
    &::placeholder {
      @include m-sub-sub-title;
    }
  }
  &__comment-input {
    @include m-sub-sub-title;
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: 1px solid $fnt-clr-body-default;
    &::placeholder {
      @include m-sub-sub-title;
    }
  }
  &__submit {
    @include m-sub-sub-title;
    margin: 0.5rem 1rem;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    background-color: $fnt-clr-text-default;
    color: $ele-clr-darkness-strain;
    outline: none;
    border: none;
  }
}
