/** @format */

@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/breakpoints" as *;

.body__scroll--disabled {
  visibility: hidden;
}

.header-container {
  background-color: $ele-footer;
}

.header {
  @include flex(row, space-between, center);
  padding: 1.75rem 1rem 1.75rem 1rem;
  @include tablet {
    margin: 0 4rem;
    padding: 1.75rem 0rem;
    // margin: 1rem 4rem 2.5rem 4rem;
  }
  @include desktop {
    margin: 0 6rem;
    padding: 1.75rem 0rem;
  }
  &__menu {
    @include tablet {
      display: none;
    }
  }
  &__left {
    @include flex(row, left, center);
    @include tablet {
      display: none;
    }
  }
  &__center {
    @include flex(row, center, center);
    width: 7rem;
    @include tablet {
      @include flex(row, left, left);
      width: 7rem;
    }
  }
  &__right {
    @include flex(row, right, center);
    position: relative;
    &-total {
      position: absolute;
      top: 18px;
      right: 0px;
      background-color: black;
      border-radius: 50%;
      color: white;
      width: 1rem;
      height: 1rem;
      text-align: center;
      font-size: 0.85rem;
      &--empty {
        display: none;
      }
    }
  }
  &__shopping-cart {
    width: 2rem;
  }
  &__search {
    margin: 0 1rem 0 0;
  }
}

.sidebar {
  @include flex(column, null, flex-start);
  @include m-sub-title;
  background-color: $ele-clr-darkness-strain; //TEST VALUE - NEEDS TO BE CHANGED
  position: absolute;
  visibility: hidden;
  float: left;
  padding: 1rem 2rem 1rem 2rem;
  width: 100%;
  max-width: 1280px;
  z-index: 5;
  &__list {
    width: 100%;
  }
  &__list-item {
    @include flex(column, center, center);
    padding: 0.75rem 0;
    list-style: none;
    text-decoration: none;
    color: $fnt-clr-text-default;
  }
  &__list-text {
    transition: 0.5s;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      top: 100%;
      left: 0;
      width: 100%;
      border-bottom: 0.1rem solid black;
      transform: scaleX(0);
      transform-origin: center;
      transition: transform 0.5s;
    }
    &:hover::after {
      transform: scaleX(1);
      transform-origin: center;
    }
  }
  &__list-img {
    padding: 0 0.5rem;
    &--active {
      rotate: 180deg;
      // padding: 0 0 0 0.5rem;
    }
  }
  &__dropdown {
    @include flex(row, center, center);
  }
  &__sub-list-item {
    @include flex(column, center, center);
    padding: 0.75rem 0;
    list-style: none;
    text-decoration: none;
    color: $fnt-clr-text-default;
  }
  &__icon {
    padding: 0 0.75rem 0 0;
  }
  &__list-link {
    list-style: none;
    text-decoration: none;
    color: $fnt-clr-text-default;
  }
  &--active {
    visibility: visible;
  }
  &__bottom {
    @include flex(column, center, center);
    width: 100%;
  }
  &__social {
    @include flex(row, center, center);
    width: 1.25rem;
    height: 3rem;
  }
  &__twitter {
    padding: 0 0.85rem;
  }
  &__instagram {
    padding: 0 0.85rem;
  }
  &__youtube {
    padding: 0 0.85rem;
  }
}

.dropdown {
  &__list {
    display: none;
    &--active {
      display: flex;
    }
  }
  &__list-item {
    @include flex(column, center, center);
    padding: 1.5rem 0 0.75rem 0;
    list-style: none;
    text-decoration: none;
    color: $fnt-clr-text-default;
  }
}

.menu-dropdown-container {
  position: fixed;
  margin: 0 auto;
  // width: 10%;
  // max-width: 1280px;
  z-index: 5;
}

.menu-dropdown {
  &__list {
    position: relative;
    top: 2.5rem;
    right: 0.75rem;
    visibility: hidden;
    background-color: $ele-footer;
    padding: 1rem;
  }
  &__list--active {
    visibility: visible;
  }
  &__list-item {
    color: $ele-clr-darkness-strain;
    transition: 0.5s;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      top: 100%;
      left: 0;
      width: 100%;
      border-bottom: 0.1rem solid $ele-clr-darkness-strain;
      transform: scaleX(0);
      transform-origin: center;
      transition: transform 0.5s;
    }
    &:hover::after {
      transform: scaleX(1);
      transform-origin: center;
    }
  }
}

.menu {
  display: none;
  @include tablet {
    @include m-sub-title;
    @include flex(row, center, center);
    max-width: 1280px;
  }
  &__right {
    @include flex(row, center, center);
  }
  // z-index: 5;
  &__list {
    @include flex(row, center, center);
    width: 100%;
  }
  &__list-item {
    color: $ele-clr-darkness-strain;
    padding: 0.75rem 0.5rem;
    list-style: none;
    text-decoration: none;
  }
  &__list-item:nth-last-child(1) {
    margin: 0 1.5rem 0 0;
  }
  &__dropdown {
    @include flex(row, center, center);
  }
  &__list-text {
    transition: 0.5s;
    position: relative;
    list-style: none;
    text-decoration: none;
    width: 100%;
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      border-bottom: 0.1rem solid $ele-clr-darkness-strain;
      transform: scaleX(0);
      transform-origin: center;
      transition: transform 0.5s;
    }
    &:hover::after {
      transform: scaleX(1);
      transform-origin: center;
    }
  }
  &__list-img {
    color: white;
  }
  &__icon {
    padding: 0 0.75rem 0 0;
  }
  &__list-link {
    list-style: none;
    text-decoration: none;
    color: $ele-clr-darkness-strain;
  }
}

.cart-container {
  position: absolute;
  max-width: 1280px;
  width: 100%;
  visibility: hidden;
  z-index: 5;
  @include tablet {
    @include flex(row, flex-end, flex-end);
  }
  @include desktop {
    @include flex(row, flex-end, flex-end);
  }
}

.cart {
  @include flex(column, top, flex-start);
  @include m-sub-title;
  background-color: $ele-clr-darkness-strain;
  visibility: hidden;
  // margin: 0;
  padding: 2rem 1rem 1rem 1rem;
  width: 100%;
  max-width: 1280px;
  scroll-behavior: auto;
  overflow: hidden;
  @include tablet {
    width: 60%;
  }
  @include desktop {
    width: 50%;
  }
  &--active {
    visibility: visible;
  }
  &__heading {
    @include m-sub-title;
    letter-spacing: 3px;
    padding: 0 1rem 1rem 1rem;
    text-transform: uppercase;
  }
  &__information {
    @include flex(column, center, center);
    text-transform: uppercase;
    width: 100%;
    position: relative;
    margin: 2rem 0 0 0;
    padding: 1.25rem 0 0 0;
    bottom: 0;
    left: 0;
  }
  &__total {
    @include flex(row, space-between, center);
    flex-wrap: wrap;
    margin: 1rem 1rem;
    padding: 1rem 0 0 0;
    border-top: 1px solid $fnt-clr-text-default;
  }
  &__text {
    @include m-sub-title-upper;
  }
  &__value {
    @include m-sub-title-upper;
    color: $clr-secondary-clr;
  }
  &__shipping {
    @include m-body-small;
    padding: 1rem 0 0 0;
  }
  &__button {
    @include flex(row, center, center);
    color: $ele-clr-darkness-strain;
    background-color: $fnt-clr-text-default;
    text-transform: uppercase;
    width: 100%;
    padding: 1.25rem 0;
    border: none;
    outline: none;
  }
  &__icon {
    padding: 0 0.5rem 0 0;
  }
}

.cart-empty {
  position: relative;
  &__status {
    @include flex(column, center, center);
    padding: 1rem 1rem 1rem 1rem;
    position: relative;
  }
  &__button {
    @include flex(row, center, center);
    color: $ele-clr-darkness-strain;
    background-color: $fnt-clr-text-default;
    text-transform: uppercase;
    width: 100%;
    padding: 1.25rem 0;
    bottom: 0;
    left: 0;
    border: none;
    outline: none;
  }
  &__icon {
    padding: 0 1rem 0 0;
  }
}
