/** @format */ /** @format */
@font-face {
  font-family: "Tenor";
  src: url("../../assets/font/tenor-sans/TenorSans-Regular.ttf");
  font-weight: 400;
  font-style: none;
}
/** @format */
html,
body {
  font-family: Tenor, "serif";
  background-color: #fcfcfc;
  color: #212529;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 1280px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
p,
ul,
img,
label,
input,
button {
  margin: 0;
  padding: 0;
}

li,
button {
  cursor: pointer;
}

textarea {
  resize: none;
}

/** @format */
/* media query for mobile */
/* media query for tablet */
/* media query for landscape, desktop pixel density desktops */
/* media query for high pixel density desktops */
/** @format */
.body__scroll--disabled {
  visibility: hidden;
}

.header-container {
  background-color: #2a2a2a;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.75rem 1rem 1.75rem 1rem;
}
@media only screen and (min-width: 768px) {
  .header {
    margin: 0 4rem;
    padding: 1.75rem 0rem;
  }
}
@media only screen and (min-width: 1020px) {
  .header {
    margin: 0 6rem;
    padding: 1.75rem 0rem;
  }
}
@media only screen and (min-width: 768px) {
  .header__menu {
    display: none;
  }
}
.header__left {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .header__left {
    display: none;
  }
}
.header__center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 7rem;
}
@media only screen and (min-width: 768px) {
  .header__center {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    width: 7rem;
  }
}
.header__right {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  position: relative;
}
.header__right-total {
  position: absolute;
  top: 18px;
  right: 0px;
  background-color: black;
  border-radius: 50%;
  color: white;
  width: 1rem;
  height: 1rem;
  text-align: center;
  font-size: 0.85rem;
}
.header__right-total--empty {
  display: none;
}
.header__shopping-cart {
  width: 2rem;
}
.header__search {
  margin: 0 1rem 0 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: Tenor, "serif";
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  background-color: #fcfcfc;
  position: absolute;
  visibility: hidden;
  float: left;
  margin: 0 2rem;
  padding: 1rem 2rem 1rem 2rem;
  width: 100%;
  max-width: 1280px;
  margin: 0;
  z-index: 5;
}
.sidebar__list {
  width: 100%;
}
.sidebar__list-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 0;
  list-style: none;
  text-decoration: none;
  color: #212529;
}
.sidebar__icon {
  padding: 0 0.75rem 0 0;
}
.sidebar__list-link {
  list-style: none;
  text-decoration: none;
  color: #212529;
}
.sidebar--active {
  visibility: visible;
}
.sidebar__bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.sidebar__social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1.25rem;
  height: 3rem;
}
.sidebar__twitter {
  padding: 0 0.85rem;
}
.sidebar__instagram {
  padding: 0 0.85rem;
}
.sidebar__youtube {
  padding: 0 0.85rem;
}

.menu {
  display: none;
}
@media only screen and (min-width: 768px) {
  .menu {
    font-family: Tenor, "serif";
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
  }
}
.menu__right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.menu__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.menu__list-item {
  color: #fcfcfc;
  padding: 0.75rem 0.5rem;
  list-style: none;
  text-decoration: none;
}
.menu__list-item:nth-last-child(1) {
  margin: 0 1.5rem 0 0;
}
.menu__icon {
  padding: 0 0.75rem 0 0;
}
.menu__list-link {
  list-style: none;
  text-decoration: none;
  color: #fcfcfc;
}

.cart {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: flex-start;
  font-family: Tenor, "serif";
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  width: 100%;
  visibility: hidden;
  position: absolute;
  max-width: 414px;
  margin: 0;
  scroll-behavior: auto;
  overflow: scroll;
  background-color: #fcfcfc;
  z-index: 5;
}
.cart--active {
  visibility: visible;
}
.cart__heading {
  font-family: Tenor, "serif";
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 3px;
  padding: 0 1rem 1rem 1rem;
  text-transform: uppercase;
}
.cart__information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  width: 100%;
  position: relative;
  margin: 2rem 0 0 0;
  padding: 1.25rem 0 0 0;
  bottom: 0;
  left: 0;
}
.cart__total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem 1rem;
  padding: 1rem 0 0 0;
  border-top: 1px solid #212529;
}
.cart__text {
  font-family: Tenor, "serif";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 2px;
}
.cart__value {
  font-family: Tenor, "serif";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #dd8560;
}
.cart__shipping {
  font-family: Tenor, "serif";
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #727272;
  padding: 1rem 0 0 0;
}
.cart__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fcfcfc;
  background-color: #212529;
  text-transform: uppercase;
  width: 100%;
  padding: 1.25rem 0;
  border: none;
  outline: none;
}
.cart__icon {
  padding: 0 0.5rem 0 0;
}

.cart-empty {
  position: relative;
}
.cart-empty__status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem 1rem 1rem;
  position: relative;
}
.cart-empty__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fcfcfc;
  background-color: #212529;
  text-transform: uppercase;
  width: 100%;
  padding: 1.25rem 0;
  bottom: 0;
  left: 0;
  border: none;
  outline: none;
}
.cart-empty__icon {
  padding: 0 1rem 0 0;
}/*# sourceMappingURL=Header.css.map */