/** @format */

@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/breakpoints" as *;

.body__scroll--disabled {
  visibility: hidden;
}

.header {
  @include flex(row, space-between, center);
  padding: 1rem;
  background-color: $ele-clr-darkness-strain;
  &__menu {
    width: 4rem;
  }
  &__left {
    @include flex(row, left, center);
  }
  &__center {
    @include flex(row, center, center);
  }
  &__right {
    @include flex(row, right, center);
  }
  &__search {
    margin: 0 1rem 0 0;
  }
}

.sidebar {
  @include flex(column, null, flex-start);
  @include m-sub-title;
  background-color: $ele-clr-darkness-strain; //TEST VALUE - NEEDS TO BE CHANGED
  position: absolute;
  visibility: hidden;
  float: left;
  padding: 1rem;
  width: 100%;
  max-width: 414px;
  margin: 0;
  z-index: 5;
  &__list {
    width: 100%;
  }
  &__list-item {
    @include flex(row, flex-start, center);
    padding: 0.75rem 0;
    list-style: none;
    text-decoration: none;
    color: $fnt-clr-text-default;
  }
  &__icon {
    padding: 0 0.75rem 0 0;
  }
  &__list-link {
    list-style: none;
    text-decoration: none;
    color: $fnt-clr-text-default;
  }
  &--active {
    visibility: visible;
  }
  &__bottom {
    @include flex(column, center, center);
    width: 100%;
  }
  &__divider {
    padding: 1rem 0;
  }
  &__social {
    @include flex(row, center, center);
    width: 1.25rem;
    height: 1rem;
  }
  &__twitter {
    padding: 0 0.85rem;
  }
  &__instagram {
    padding: 0 0.85rem;
  }
  &__youtube {
    padding: 0 0.85rem;
  }
}

.cart {
  @include flex(column, top, flex-start);
  @include m-sub-title;
  width: 100%;
  visibility: hidden;
  position: absolute;
  max-width: 414px;
  margin: 0;
  scroll-behavior: auto;
  overflow: scroll;
  background-color: $ele-clr-darkness-strain;
  z-index: 5;
  &--active {
    visibility: visible;
  }
  &__heading {
    @include m-sub-title;
    letter-spacing: 3px;
    padding: 0 1rem 1rem 1rem;
    text-transform: uppercase;
  }
  &__information {
    @include flex(column, center, center);
    text-transform: uppercase;
    width: 100%;
    position: relative;
    margin: 2rem 0 0 0;
    padding: 1.25rem 0 0 0;
    bottom: 0;
    left: 0;
  }
  &__total {
    @include flex(row, space-between, center);
    flex-wrap: wrap;
    margin: 1rem 1rem;
    padding: 1rem 0 0 0;
    border-top: 1px solid $fnt-clr-text-default;
  }
  &__text {
    @include m-sub-title-upper;
  }
  &__value {
    @include m-sub-title-upper;
    color: $clr-secondary-clr;
  }
  &__shipping {
    @include m-body-small;
    padding: 1rem 0 0 0;
  }
  &__button {
    @include flex(row, center, center);
    color: $ele-clr-darkness-strain;
    background-color: $fnt-clr-text-default;
    text-transform: uppercase;
    width: 100%;
    padding: 1.25rem 0;
    border: none;
    outline: none;
  }
  &__icon {
    padding: 0 0.5rem 0 0;
  }
}

.cart-empty {
  position: relative;
  &__status {
    @include flex(column, center, center);
    padding: 1rem 1rem 1rem 1rem;
    position: relative;
  }
  &__button {
    @include flex(row, center, center);
    color: $ele-clr-darkness-strain;
    background-color: $fnt-clr-text-default;
    text-transform: uppercase;
    width: 100%;
    padding: 1.25rem 0;
    bottom: 0;
    left: 0;
    border: none;
    outline: none;
  }
  &__icon {
    padding: 0 1rem 0 0;
  }
}
