/** @format */

@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/variables" as *;

.body__scroll--disabled {
  // background-attachment: fixed;
  visibility: hidden;
}

.header {
  @include flex(row, space-between, center);
  padding: 1rem;
  background-color: $ele-clr-darkness-strain;
  // width: 100%;
  // overflow: scroll;
  &__menu {
    width: 4rem;
  }
  &__left {
    @include flex(row, left, center);
    // flex-basis: 30%;
  }
  &__center {
    @include flex(row, center, center);
    // padding: 0 0 0 2.5rem;
    // width: 100%;
    // flex-basis: 30%;
    // flex-grow: 2;
  }
  &__right {
    @include flex(row, right, center);
  }
  &__search {
    margin: 0 1rem 0 0;
    // flex-basis: 30%;
    // width: 24px;
    // height: 24px;
  }
  &__shopping-cart {
    // @include flex(row, flex-end, center);
  }
}

.sidebar {
  @include flex(column, null, flex-start);
  @include m-sub-title;
  background-color: $ele-clr-darkness-strain; //TEST VALUE - NEEDS TO BE CHANGED
  position: fixed;
  left: -100%;
  padding: 1rem;
  height: 100vh;
  width: 60%;
  &__list {
    width: 100%;
  }
  &__list-item {
    @include flex(row, flex-start, center);
    padding: 0.75rem 0;
    list-style: none;
    text-decoration: none;
    color: $fnt-clr-text-default;
  }
  &__icon {
    padding: 0 0.75rem 0 0;
  }
  &__list-link {
    list-style: none;
    text-decoration: none;
    color: $fnt-clr-text-default;
  }
  &--active {
    left: 0;
  }
  &__bottom {
    @include flex(column, center, center);
    width: 100%;
  }
  &__divider {
    padding: 1rem 0;
  }
  &__social {
    // width: 40%;
    @include flex(row, center, center);
    width: 1.25rem;
    height: 1rem;
  }
  &__twitter {
    padding: 0 0.85rem;
  }
  &__instagram {
    padding: 0 0.85rem;
  }
  &__youtube {
    padding: 0 0.85rem;
  }
}

.cart {
  @include flex(column, top, flex-start);
  @include m-sub-title;
  padding: 0 0 3.75rem 0;
  min-height: 91%;
  width: 100%;
  left: -100%;
  // position: fixed;
  // visibility: hidden;
  position: absolute;
  scroll-behavior: auto;
  background-color: $ele-clr-darkness-strain;
  // z-index: 1;
  &--active {
    left: 0;
    // visibility: visible;
  }
  &__heading {
    @include m-sub-title;
    letter-spacing: 3px;
    padding: 0 1rem 1rem 1rem;
    text-transform: uppercase;
  }
  &__information {
    @include flex(column, center, center);
    // color: $ele-clr-darkness-strain;
    // background-color: $fnt-clr-text-default;
    text-transform: uppercase;
    width: 100%;
    position: absolute;
    padding: 1.25rem 0 0 0;
    bottom: 0;
    left: 0;
  }
  &__total {
    @include flex(row, space-between, center);
    flex-wrap: wrap;
    // width: 100%;
    margin: 1rem 1rem;
    padding: 1rem 0 0 0;
    border-top: 1px solid $fnt-clr-text-default;
  }
  &__text {
    @include m-sub-title-upper;
  }
  &__value {
    @include m-sub-title-upper;
    color: $clr-secondary-clr;
  }
  &__shipping {
    @include m-body-small;
    padding: 1rem 0 0 0;
  }
  &__button {
    @include flex(row, center, center);
    color: $ele-clr-darkness-strain;
    background-color: $fnt-clr-text-default;
    text-transform: uppercase;
    width: 100%;
    // position: absolute;
    padding: 1.25rem 0;
    // bottom: 0;
    // left: 0;
  }
  &__icon {
  }
  &__details {
  }
}

.cart-empty {
  &__status {
    @include flex(column, center, center);
    // align-self: center;
    // justify-content: center;
    // vertical-align: middle;
    padding: 0 1rem 1rem 1rem;
    position: relative;
    // top: 50%;
    padding: 1rem;
  }
  &__button {
    @include flex(row, center, center);
    color: $ele-clr-darkness-strain;
    background-color: $fnt-clr-text-default;
    text-transform: uppercase;
    width: 100%;
    position: absolute;
    padding: 1.25rem 0;
    bottom: 0;
    left: 0;
  }
  &__icon {
    padding: 0 1rem 0 0;
    // color: White;
  }
  &__details {
    // padding: 1.25rem 0;
  }
}
