/** @format */

@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/breakpoints" as *;

.store-container {
  padding: 3.5rem 1rem;
  margin: 0 0.5rem;
  @include tablet {
    margin: 0 4rem;
  }
  @include desktop {
    margin: 0 6rem;
  }
}

.map-container {
  // margin: 1rem;
  // padding: 1rem;
  width: 0 auto;
  height: 85vh;
  z-index: 0;
  margin: 1rem 1.5rem;
  @include tablet {
    // padding: 1rem;
    margin: 1rem 5rem;
  }
  @include desktop {
    // padding: 1rem;
    margin: 1rem 7rem;
  }
}
